<!doctype html>
<html>
<head>
  <title>NDVI Forecast</title>
</head>
<body>
  <h1>NDVI Forecast</h1>

  <form action="/predict" method="post" enctype="multipart/form-data">
    <label>Upload CSV (kolom: period, ndvi_mean)</label><br>
    <input type="file" name="file" required><br><br>
    <label>Window Size:</label><br>
    <input type="number" name="window_size" value="5"><br><br>
    <label>Look Back:</label><br>
    <input type="number" name="look_back" value="10"><br><br>
    <label>Forecast Horizon:</label><br>
    <input type="number" name="forecast_horizon" value="30"><br><br>
    <button type="submit">Predict</button>
  </form>

  {% if results %}
    <h2>Grafik Hasil Prediksi</h2>
    {% include "plot.html" %}
  {% endif %}
</body>
</html>
